p {
 line-height: 1.75em;
 letter-spacing: 1px;
}
.content {
 font-size: 15px;
 text-align: left;
}
.note {
 font-size: 14px;
 color: #b2b2b2;
 text-align: center;
}
.subtitle {
 font-size: 16px;
 text-align: center;
}
blockquote {
 font-size: 14px;
 color: #888888;
}